body {
    background-image: url(img/background.png);
    background-color: rgb(80, 60, 68, 0.8);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Elms Sans", sans-serif;
    text-align: center;
    color: whitesmoke;
}

h1 {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
  margin-top: 14vw;
}

h2 {
    font-size: 4vw;
    margin: 4vw;
}

h3 {
    font-size: 2.8vw;
}

h5 {
    font-size: 2.4vw;
}

p, ul {
    font-size: 2vw;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 2vw;
    margin: 4vw;
    transition: .4s ease;
}

a:hover {
    font-weight: bold;
}

#nav-principal {
    margin: 4vw;
}

img {
    width: 2vw;
}

.nombre {
    font-family: "Ballet", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul { 
    display: inline-block; 
    text-align: left; 
}

.enlace-a-pagina {
    color: rgb(80, 60, 68);
}

.card {
    margin: 1vw 28vw;
}

.card-text {
    font-size: 1.4vw;
}